Debug/
Release/
/v01.sln
/.vs/VSWorkspaceState.json
/.vs/v01/v15/ipch/AutoPCH/fd3ffd608e9de267/MAIN.ipch
/.vs/v01/v15/ipch/AutoPCH/9f47193e5a37a620/MAIN.ipch
/.vs/v01/v15/Browse.VC.opendb
/.vs/v01/v15/Browse.VC.db
/.vs/v01/v15/.suo
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/launch.vs.json
/.vs/config/applicationhost.config
